@property --progress{
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;

    display: grid;
    place-items: center;
}
.circle{
    width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-image: conic-gradient(black var(--progress,0%),red 0%);
    position: relative;
    transition: --progress 350ms ease-in;
    display: grid;
    place-items: center;
}
.circle::after{
    content: attr(data-valuenow) "%";
    position: absolute;
    width: calc(100% - 30px);
    aspect-ratio: 1 / 1 ;
    border-radius: inherit;
    background-color: #ccc;
    font-size: 40px;
    font-weight: bold;

    display: grid;
    place-items: center;
}
[role="progressbar"][data-valuenow="100"]::after{
    content: url(./check.png);
    background-color: red !important;
    transition: content 2s ease-in;
}
main{
    width: 30%;
    display: grid;
    place-items: center;
    row-gap: 1rem;

    background-color: black;
    padding: 1.8rem;
}

.check{
    width: 100%;
    height: 38px;
    background-color: red;
    color: #000;
    font-weight: 600;
    cursor: pointer;

    display: grid;
    place-content: center;
}